<header id="header">  
    </div>

    <nav class="navbar navbar-expand-lg py-3" style="background-color: #214252;">
        <div class="container ">
          <a class="navbar-brand text-white" href="/">Blogs</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item px-3">
                <form action="/createBlog" method="POST">
                    <i class="bx bx-book-content"></i> <input type="submit" value="Add Blog" class="nav-list" style="background-color:transparent; color: #fff; border: none;">
                 </form>
              </li>
              <li class="nav-item px-3">
                <form action="/" method="GET">
                    <i class="bx bx-file-blank"></i> <input type="submit" value="My Blogs" class="nav-list" style="background-color:transparent; color: #fff; border: none;">
                  </form>
              </li>
              
            </ul>
            
          </div>
        </div>
      </nav>
    
    </div>
</header>